[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "curlpp"]
	path = curlpp
	url = https://github.com/jpbarrette/curlpp.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
